## hello.rsn (tests print statements)
Expected output: 

```
Salam Duniya!
ROSHNI mein aapka swaagat hai
```
Actual output:
```
Salam Duniya!
ROSHNI mein aapka swaagat hai
```
Test result: 🟢 Passed 

## arithmetic.rsn (tests arithmetic logic)
Expected output: 

```
13
7
30
3.3333333333333335
26
50
```
Actual output:
```
13.0
7.0
30.0
3.3333333333333335
26.0
50.0
```
Test result: 🟢 Passed

## conditionals.rsn (tests ifs and elses)
Expected output: 

```
Aap baligha hain
Fail
flag haan hai
x paanch nahi hai
```
Actual output: 

```
Aap baligha hain
Fail
flag haan hai
x paanch nahi hai
```
Test result: 🟢 Passed

## functions.rsn (tests functions)
Expected output: 

```
10
200
10
81
```
Actual output: 

```
10.0
200.0
10.0
81.0
```
Test result: 🟢 Passed

## fibonacci.rsn (tests functions and recursion)
Expected output: 

```
0
1
5
21
55
```
Actual output: 

```
0.0
1.0
5.0
21.0
55.0
```
Test result: 🟢 Passed

## lists.rsn (tests list data structure)
Expected output: 

```
[1, 2, 3, 4, 5]
2
4
6
8
10
[Karachi, Lahore, Islamabad]
Karachi
Lahore
Islamabad
```
Actual output: 

```
[1.0, 2.0, 3.0, 4.0, 5.0]
2.0
4.0
6.0
8.0
10.0
[Karachi, Lahore, Islamabad]
Karachi
Lahore
Islamabad
```
Test result: 🟢 Passed

## list_index.rsn (tests list index functioning)
Expected output: 

```
laal
neela
hara
```
Actual output: 

```
laal
neela
hara
```
Test result: 🟢 Passed

## booleans.rsn (tests boolean logic)
Expected output: 

```
haan
nahi
a is haan
b is nahi
a aur b alag hain
```
Actual output: 

```
haan
nahi
a is haan
b is nahi
a aur b alag hain
```
Test result: 🟢 Passed

## nested_conditions.rsn (tests nested conditions)
Expected output: 

```
musbat (positive)
sifar (zero)
manfi (negative)
```
Actual output: 

```
musbat (positive)
sifar (zero)
manfi (negative)
```
Test result: 🟢 Passed

## full_program.rsn
Expected output: 

```
Fehrist:
[3, 7, 1, 9, 4, 6, 2]
Sab se bara number:
9
```
Actual output: 

```
Fehrist:
[3.0, 7.0, 1.0, 9.0, 4.0, 6.0, 2.0]
Sab se bara number:
9.0
```
Test result: 🟢 Passed

